{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="about">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center judul-testi">
                    <h4>Testimoni</h4>
                </div>
                <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                    <!-- Bottom Carousel Indicators -->
                    <ol class="carousel-indicators" id="slide_num">

                    </ol>
                    <!-- Carousel Slides / Quotes -->
                    <div class="carousel-inner" id="testimoni_slider">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    {% if user.is_authenticated %}
    <div class = "container">
        <form id="form">
            {% csrf_token %}
            <input type="hidden" id="id_nama" value="{{ user.username }}">
            {{ form }}
            <div class = "text-center tombol">
                <button type="submit" class = "btn btn-primary btn-donasi-page">Submit</button>
            </div>
        </form>
    </div>
    {% endif %}
    <br>
</div>
{% endblock %}
