{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>CS Care</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Home Page.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Register Page.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Donasi Page.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/About Page.css' %}">
</head>

<body>
    <div class = "header">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="{% url 'homepage' %}">CS Care</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbardrop" href="#">
                            Program
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'program' 'Duka Palu, Duka Kita Bersama'%}">
                                Duka Palu, Duka Kita Bersama
                            </a>
                            <a class="dropdown-item" href="{% url 'program' 'Bangun Kembali Lombok'%}">
                                Bangun Kembali Lombok
                            </a>
                            <a class="dropdown-item" href="{% url 'program' 'Bangun Kembali Masjid di Pulau Seribu Masjid'%}">
                                Bangun Kembali Masjid di Pulau Seribu Masjid
                            </a>
                            <a class="dropdown-item" href="{% url 'program' 'Sekolah Darurat untuk Anak-anak Lombok'%}">
                                Sekolah Darurat untuk Anak-anak Lombok
                            </a>
                            <a class="dropdown-item" href="{% url 'program' 'Bangun Dapur Umum di Lombok'%}">
                                Bangun Dapur Umum di Lombok
                            </a>
                            <a class="dropdown-item" href="{% url 'program' 'Siaga Pangan di Lombok'%}">
                                Siaga Pangan di Lombok
                            </a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="{% url 'tentang' %}">
                            Tentang
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                        <li><a class="nav-link" href="{% url 'donations' %}">
                            Daftar Donasi Saya
                        </a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                    <li><p class="nav-link">Hello, {{ user.username }}</p></li>
                    <li><a class="nav-link" href="{% url 'logout' %}">Log out</a></li>
                    {% else %}
                    <li><a class="nav-link" href="{% url 'register' %}" id="register"><span class="fas fa-user"></span> Register</a></li>
                    {% endif %}
                </ul>
            </div>

		</nav>
    </div>

    <div class="content">
        {% block content%}
        {% endblock content %}
    </div>

    <div class="footer">
        <div class="row">
            <div class="col-sm-6 footer">
                <div class="row">
                    <h5 class="footer-text"><span class="fas fa-map-marked-alt"></span> {{lokasi}}</h5>
                </div>
                <div class="row">
                    <h5 class="footer-text"><span class="fas fa-phone"></span> {{nomor_hp}}</h5>
                </div>
                <div class="row">
                    <h5 class="footer-text"><span class="fas fa-at"></span> {{email}}</h5>
                </div>
            </div>
            <div class="col-sm-6">
                <h2 class="footer-text">Tentang kami:</h2>
                <h5 class="footer-text">{{tentang_kami}}</h5>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="application/javascript" src="{% static 'js/About Page.js' %}"></script>
</body>
</html>
