{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="donasi">
    <div class = "jumbotron background">
      <div class = "panel-donasi">
        <h2 class = "text-center">Donasi {{ nama_program }}</h2>
            <form action="{% url 'add_donasi' nama_program %}" method="POST" class = "thisform">
              {% csrf_token %}
              {{ form }}
            <div class = "text-center tombol">
                <input type="submit" value="Donasi" class = "btn btn-primary btn-donasi-page">
            </div>
          </form>
      </div>
  </div>
</div>
{% endblock %}
