{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="content container table-responsive">
  <table class="table">
    <thead>
    <tr>
    <th>Nama Musibah</th>
    <th>Jumlah Donasi</th>
    </tr>
    </thead>
    <tbody>
    {% for donasi in daftar_donasi %}
    <tr>
    <td>{{ donasi.program }}</td>
    <td>Rp {{ donasi.uang }},00</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
