{% extends "base.html" %}
{% load staticfiles %}
{% block content %}


		<div class="bigimg">
		    <h2 class="text text-block">{{current_program}}</h2>
		    <a href="{% url 'program' 'Duka Palu, Duka Kita Bersama' %}">
				<button type="button" class="btn btn-success btn-md donasi-btn-home">
		    		Donasi Sekarang
				</button>
			</a>
		</div>
		<div class="container">
			<div class="row">
				{% for disaster in disasters %}
				  <div class="card col-xs-12 col-sm-6 col-md-4 other-row">
				  	<img class="card-img" src="{% static disaster.foto %}">
				  	<div class="card-body">
				  		<h4 class="card-title">{{disaster.nama}}</h4>
				  		<p class="card-text">{{disaster.deskripsi}}
				  		<a href="{% url 'program' disaster.nama %}" class="cont-read">...Lanjutkan membaca</a>
				  		</p>
				  	</div>
				  </div>
				{% endfor %}
			</div>
		</div>
		<div class="info-dana">
			<div class="container">
				<div class="row">
					<div class="col-md-6 text-center">
						<h2 class="text footer-text">
						Dana Terkumpul:<br>
						Rp {{dana_terkumpul}}</h2>
					</div>
					<div class="col-md-6 text-center">
						<h2 class="text footer-text">
						Total Donatur:<br>
						{{total_donatur}}
						</h2>
					</div>
				</div>
			</div>
		</div>
{% endblock %}
