{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

		<div class="program-body">
			<div class="container">
				<h1 class="text program-title">{{nama_program}}</h1>
				<div class="row">
					<img class="img-responsive col-md-6 program-img" src="{% static foto_program %}">
					<div class="col-md-6">
						<div class="row program-about">
							<p class="text program-about-text">
							{{deskripsi_program}}<br>
							Total Donasi:<br>
							{{donasi}}</p>
						</div>
						<div class="row">
							<button type="button" class="btn button-program">
								<a href="{% url 'donasi' nama_program %}">Donasi Sekarang</a>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container program-others">
			<div class="row">
				{% for disaster in disasters %}
				  <div class="card col-xs-12 col-sm-6 col-md-4 other-row">
				  	<img class="card-img" src="{% static disaster.foto %}">
				  	<div class="card-body">
				  		<h4 class="card-title">{{disaster.nama}}</h4>
				  		<p class="card-text">{{disaster.deskripsi}}
				  		<a href="{% url 'program' disaster.nama %}" class="cont-read">...Lanjutkan membaca</a>
				  		</p>
				  	</div>
				  </div>
				{% endfor %}
			</div>
		</div>
{% endblock %}
