{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class = "jumbotron reg">
  <div class = "fill">
    <h2 class = "text-center">Mendaftar Menjadi Donatur</h2>
        <form action="{% url 'add_donatur' %}" method="POST" class = "thisform">
          {% csrf_token %}
          {{ form }}
        <div class = "text-center tomtom">
            <input type="submit" value="Submit" class = "btn btn-donasi-page btn-primary">
        </div>
      </form>
      <div class="text-center">
        <a href="{% url 'social:begin' 'google-oauth2' %}" class="loginBtn loginBtn--google gotoms">
          <i class="fa fa-google"></i> Sign in with Google
        </a>
      </div>
  </div>
</div>
{% endblock %}
