/* carousel */
#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
    text-align:center;
}
/* indicator position */
#quote-carousel .carousel-indicators {
  top: auto;
  bottom: -10px;
}
/* indicator color */
#quote-carousel .carousel-indicators li {
    background: #c0c0c0;
}
/* active indicator */
#quote-carousel .carousel-indicators .active {
    background: #333333;

    margin-bottom:1px;
}
/* typography */
.judul-testi {
    text-align:center;
    margin-bottom:-20px !important;
}
#quote-carousel p {
    font-style:italic;
}
