.donasi {
	color: white;
}

.background{
	background-color: #f7f7e2;
	border-radius: 0px;
	margin-bottom: 0px;
}

.panel-donasi{
	width: 45%;
	background-color: #4f4e47;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

.tombol {
	margin-top: 10px;
	padding-right: auto;
}

#id-visibilitas {
	background-color: #466874;
}

.btn-donasi-page {
	background-color: #466874;
	padding-left: 10%;
	padding-right: 10%;
}
