{% load staticfiles %}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
	color: white;
	text-decoration: none;
}

a:active {
    color: black;
}

#register {
	color: white;
}

.program-title {
	font-weight: bold;
	color: #2B2F3D;
}

.program-body {
	background-color: #466874;
	padding-top: 8%;
	padding-bottom: 8%;
}

.program-img {
	height: 50%;
}

.program-about {
	background-color: #F7F7E2;
	height: 85%;
	padding-top: 3%;
	padding-left: 2%;
}

.program-about-text {
	font-weight: bold;
}

.program-others {
	margin-bottom: 5%;
}

.text {
	font-family: 'Lato', sans-serif;
}

a:hover #register {
	color: yellow;
	text-decoration: none;
}

.cont-read {
	text-decoration: underline;
	font-style: italic;
}

.img-headline {
	width: 100%;
}

.btn-donate {
	width: 30%;
	height: 10%;
}

.bigimg {
    background-image: url('https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/44106559_1274195142723728_3510562369166114816_o.jpg?_nc_cat=104&oh=8346329e131c2eaef6ea2bcc4a11ef3a&oe=5C48E3ED');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 15%;
    padding-bottom: 39%;
    padding-left: 60%;
}

.text-block {
	font-family: 'Lato', sans-serif;
	font-size: 4.5vw;
}

.img-bencana-lain {
	width: 100%;
}

.other-row {
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
}

.footer-text {
	color: white;
	font-family: 'Lato', sans-serif;
}

.info-dana {
	width: 100%;
	margin: 0;
	padding: 0;
	margin-top: 7%;
	padding-top: 5%;
	padding-bottom: 7%;
	background-color: #001a33;
}

.footer {
	width: 100%;
	margin: auto;
	padding: 10%;
	padding-top: 2%;
	padding-bottom: 2%;
	background-color: #527a7a;
}

.donasi-btn-home {
    background-color: #4f4e47;
    font-size: 2.5vw;
    border-radius: 0;
}

.button-program {
    margin-top: 10px;
    width: 100%;
    border-radius: 0;
    background-color: #9f926e;
}
